[Unit]
Description=Weather Station
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/weatherstation.py
WorkingDirectory=/root
StandardOutput=append:/var/log/weatherstation.log
StandardError=append:/var/log/weatherstation.log
Restart=always
User=root
Type=idle # start when all other services have been started
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
