[Unit]
Description=Weather Station
After=network.target

[Service]
EnvironmentFile=/root/weatherstation-epaper/.env
ExecStart=/root/weatherstation-epaper/venv/bin/python /root/weatherstation-epaper/weatherstation.py
WorkingDirectory=/root/weatherstation-epaper
StandardOutput=append:/var/log/weatherstation.log
StandardError=append:/var/log/weatherstation.log
Restart=always
User=root
Type=idle # start when all other services have been started
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
